*
{
    margin: 0; padding: 0;
}
#sayt
{
    margin: 0px auto;
    width: 300px;
    background-color: rgb(107, 103, 103);
    border-radius: 50px;
    
}
@keyframes qizil
{
       10%{background-color: red;}
       100%{background-color: red;}
       
}
@keyframes sariq
{
       10%{background-color: yellow;}
       100%{background-color: yellow;}
      
}
@keyframes yashil
{
       10%{background-color: green;}
       100%{background-color: green;}
       
}
#qizil
{
    margin: 5px auto;
    animation-name: qizil;
    animation-duration: 5s;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 1px solid red;
}
#sariq
{
    margin: 5px auto;
    animation-name: sariq;
    animation-delay: 5s;
    animation-duration: 5s;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 1px solid yellow;
}
#yashil
{
    margin: 5px auto;
    animation-name: yashil;
    animation-delay: 10s;
    animation-duration: 5s;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 1px solid green;
}